.search {
  position: relative;
  margin-top: 12px;
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 20px;
    width: 450px;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 40px;
    transition: all 0.15s ease-in-out;
    @media (max-width: 768.98px) {
      width: 310px;
    }
    &:focus {
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.search-icon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  left: 15px;
  top: 15px;
  left: 9px;
  top: 8px;
}

.clearItem {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 11px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
